@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap');

:root {
    --bckgrnd-clr-light: #005CCC;
    --bckgrnd-clr-dark: #0049A3 
}

body, html {
    color: white;
    background-color:var(--bckgrnd-clr-light);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
header {
    font-size: 2vw;
}
.main-container {
    background-color:var(--bckgrnd-clr-dark);
    width: 90vw;
    margin-left: 5vw;
    display:grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
}
.buttons{
    background-color: transparent;
    font-size: 7vw;
    color: white;
    border: none;
}
.down-counter {
    grid-column: 1;
    grid-row: 1/3;
    border-right: medium solid var(--bckgrnd-clr-light);
}
.up-counter {
    grid-column: 4;
    grid-row: 1/3;
    border-left: medium solid var(--bckgrnd-clr-light);
}
.counter-container {
    grid-column: 2/4;
    grid-row: 1;
}
.interval-container {
    grid-column: 2/4;
    grid-row: 2/3;
    border-top: medium solid var(--bckgrnd-clr-light);
    font-size: 2vw;
}
.interval-container input{
    background: none;
    border-color:var(--bckgrnd-clr-light);
    border-bottom:medium solid var(--bckgrnd-clr-dark);;
    font-size: 2vw;
    text-align: center;
    color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}
.interval-container input:focus {
    outline: none;
}
.counter {
    font-size: 10vw;
    font-family: 'Roboto Slab', serif;
}

